@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

* ::after, * ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
}

button.open-mobile-menu {
  width: 25px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button.open-mobile-menu span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 15%;
}

button.default-button {
  padding: 3.5px 7px;
  background-color: #fbfbfb;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  color: #6c757d;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

button.default-button:hover {
  background-color: #ced4da;
}

button.default-button.add-item {
  color: #f4a53d;
}

button.default-button.add-item:hover {
  color: #fff;
  background-color: #f4a53d;
  border-color: #f4a53d;
}

section.mobile-menu {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 0;
  height: 100vh;
  border-right: 0 solid #eee;
}

section.mobile-menu.opened {
  width: 70vw;
  max-width: 290px;
}

section.mobile-menu .logo {
  width: 100%;
  height: 150px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.mobile-menu .logo span {
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
}

section.mobile-menu div {
  width: calc(70vw - 2px);
  max-width: 288px;
}

section.mobile-menu .divider {
  width: 95%;
  margin-left: 5%;
}

.divider {
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

section.mobile-menu.opened {
  border-right-width: 2px;
}

@media (max-width: 768px) {
  .mobile {
    display: flex;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.pc {
  max-width: 980px;
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .pc {
    display: flex;
  }
}

section.page-content {
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.drop-down {
  display: none;
  position: absolute;
  border-radius: 5px;
}

section.drop-down.opened {
  display: block;
}

section.user-drop-down {
  top: 35px;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

section.user-drop-down .divider {
  width: 100%;
}

section.user-drop-down .signed-us-label {
  font-size: 0.7em;
}

section.user-drop-down .signed-us-value {
  font-size: 0.85em;
  color: #6c757d;
}

main {
  width: 100%;
  max-width: 980px;
  min-height: calc(100vh - 176px);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  main {
    padding: 0 5%;
  }
}

.container {
  flex: 1;
}

.middle-container {
  width: 100%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .middle-container {
    padding: 0;
  }
}

.middle-container-header {
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: space-between;
  color: #333;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #dee2e6;
  box-sizing: content-box;
}

.middle-container-header h1 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 27px;
}

.middle-container-header .buttons {
  display: flex;
  position: relative;
}

.middle-container-content {
  width: 100%;
}

.left-container,
.right-container {
  max-width: calc(25% - 2px);
  max-height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .left-container,
  .right-container {
    display: none;
  }
}

.left-container .title,
.right-container .title {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 1em;
}

.left-container .title span,
.right-container .title span {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.left-container .divider,
.right-container .divider {
  width: 100%;
}

.left-container .side-content-wrapper,
.right-container .side-content-wrapper {
  padding: 15px;
}

.left-container-search,
.right-container-search {
  margin-bottom: 15px;
}

.settings-container {
  position: relative;
  margin-right: 7px;
}

section.settings-drop-down {
  top: 30px;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

.mobile-sides-containers-content {
  width: 100%;
  margin-bottom: 20px;
}

.mobile-sides-containers-content .list-wrapper {
  width: 100%;
  background-color: #fbfbfb;
  min-height: 50px;
  border: 1px solid #ced4da;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
}

.mobile-sides-containers-content .list-wrapper:first-child {
  margin-bottom: 10px;
}

.mobile-sides-containers-content .list-wrapper .header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-sides-containers-content .list-wrapper .header h2 {
  font-size: 1em;
  font-weight: 600;
  color: #333;
}

.mobile-sides-containers-content .list-wrapper .side-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-sides-containers-content .list-wrapper .side-content-wrapper form {
  width: 100%;
}

.mobile-sides-containers-content .list-wrapper .side-content-wrapper h3 {
  text-align: center;
}

.mobile-sides-containers-content .list-wrapper .side-content-wrapper ul:last-child {
  margin-bottom: 15px;
}

.mobile-sides-containers-content .list-wrapper .side-content-wrapper ul li {
  height: 25px;
}

header {
  width: 100%;
  height: 56px;
  background-color: #f4a53d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  header {
    padding: 0 5%;
  }
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  max-width: 980px;
  height: 99px;
}

@media (max-width: 1000px) {
  footer {
    padding: 0 5%;
  }
}

footer .footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
    justify-content: center;
  }
}

footer .footer-content span {
  font-size: 0.85em;
  color: #333;
}

@media (max-width: 768px) {
  footer .footer-content span:first-child {
    margin-bottom: 15px;
  }
}

.icon {
  color: #fff;
  font-size: 2em;
}

.user-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 5px;
}

.icon-arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #fff;
}

.user-icon {
  font-size: 0.8em;
  color: #f4a53d;
}

.mobile-logo {
  margin-right: 15px;
}

.mobile-nav-icon {
  font-size: 1em;
  margin-right: 15px;
}

.signed-us-icon {
  border-radius: 50%;
  background-color: #333;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  user-select: none;
}

.default-link {
  color: #fff;
}

.mobile-navigation-link {
  width: 100%;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

section.user-drop-down .mobile-navigation-link {
  font-size: 0.9em;
  font-weight: 400;
  padding: 2.5px 0 2.5px 10px;
}

ul.header-navigation {
  display: flex;
  position: relative;
}

ul.header-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  opacity: 0.7;
  font-weight: 600;
}

ul.header-navigation li:last-child {
  margin-right: 0;
}

ul.header-navigation li:hover {
  opacity: 1;
}

ul.header-navigation li.active {
  opacity: 1;
}

ul.header-navigation li.user-icons {
  cursor: pointer;
  margin-right: 0;
}

ul.mobile-navigation {
  display: flex;
  flex-direction: column;
}

ul.mobile-navigation li {
  display: flex;
  width: 100%;
  height: 50px;
}

section.user-drop-down ul.mobile-navigation {
  width: 150px;
}

section.user-drop-down ul.mobile-navigation li {
  height: auto;
  margin-right: 0;
  opacity: 1;
  padding: 5px 0;
}

section.user-drop-down ul.mobile-navigation li.signed-us-wrapper:hover {
  background-color: transparent;
}

section.user-drop-down ul.mobile-navigation li:hover {
  background-color: #eee;
}

.default-list {
  width: 100%;
  margin: 15px 0;
}

.default-list:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.default-list.first {
  margin-top: 0;
  margin-bottom: 0;
}

.default-list h3 {
  font-size: 0.9em;
  font-weight: 400;
  color: #6c757d;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.default-list li {
  display: flex;
  font-size: 0.85em;
  align-items: center;
  color: #333;
  margin-bottom: 3px;
  cursor: pointer;
}

.default-list li:last-child {
  margin-bottom: 0;
}

.default-list li.active {
  color: #f4a53d;
  font-weight: 600;
}

.default-list li:hover span {
  text-decoration: underline;
}

.default-list li i {
  width: 15px;
  margin-right: 10px;
}

.default-list.list-arrow li i {
  width: auto;
}

section.settings-drop-down ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-right: 0;
  opacity: 1;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

section.settings-drop-down ul li:hover {
  background-color: #eee;
}

section.settings-drop-down ul li.delete {
  color: #dd4b39;
}

ul.default-items-list {
  width: 100%;
}

ul.default-items-list li {
  width: 100%;
  height: 50px;
}

.input-default {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  font-size: 0.85em;
}

.input-default:focus {
  box-shadow: 0 0 3pt 2pt rgba(30, 144, 255, 0.75);
}
