$orange-default: #f4a53d;
$orange-light: #ffe5ca;
$gray-light: #eee;
$gray-light-v2: #fbfbfb;
$gray-light-v3: #dee2e6;
$gray-light-v4: #e0e0e0;
$gray-middle: #6c757d;
$gray-middle-v2: #ced4da;
$gray-dark: #333;
$gray-dark-v2: #6c757d;
$black-super-opacity: rgba(0, 0, 0, 0.03);
$black-opacity: rgba(0, 0, 0, 0.125);
$blue: rgba(30, 144, 255, 0.75);
$blue-v2: #3c8dbc;
$red: #dd4b39;
$brown: #bf7e16;