button.open-mobile-menu
  width: 25px
  height: 15px
  display: flex
  flex-direction: column
  justify-content: space-between
  span
    width: 25px
    height: 3px
    background-color: #fff
    border-radius: 15%