section.mobile-menu
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  min-width: 0
  max-width: 70vw
  height: 100vh
  border-right: 0 solid $gray-light
  .logo
    width: 100%
    height: 150px
    background-color: $gray-dark
    display: flex
    justify-content: center
    align-items: center
    span
      color: #fff
      font-weight: $text-bold
      font-size: 1.5em
  div
    min-width: calc(70vw - 2px)
  .divider
    display: block
    width: 95%
    height: 1px
    background-color: $gray-light
    margin-left: 5%

section.mobile-menu.opened
  border-right-width: 2px

.mobile
  @media (max-width: 425px)
    display: flex
  @media (min-width: 426px)
    display: none

.pc
  @media (max-width: 425px)
    display: none
  @media (min-width: 426px)
    display: flex

section.page-content
  min-width: 100%
