.icon
  color: #fff
  font-size: 2em

.user-icon-wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 25px
  height: 25px
  background-color: #fff
  border-radius: 50%
  margin-right: 5px

.icon-arrow
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  border-top: 5px solid #fff

.user-icon
  font-size: 0.8em
  color: $orange-default

.mobile-logo
  margin-right: 15px

.mobile-nav-icon
  font-size: 1em
  margin-right: 15px