ul.header-navigation
  display: flex
  position: relative
  li
    display: flex
    justify-content: center
    align-items: center
    margin-right: 25px
    opacity: 0.7
    font-weight: $text-bold
    &:last-child
      margin-right: 0
    &:hover
      opacity: 1
  li.active
      opacity: 1
  li.user-icons
    cursor: pointer
    margin-right: 0

ul.mobile-navigation
  display: flex
  flex-direction: column
  li
    display: flex
    width: 100%
    height: 50px

section.user-drop-down
  ul.mobile-navigation
    width: 150px
    li
      height: auto
      margin-right: 0
      opacity: 1
      padding: 5px 0
      &.signed-us-wrapper:hover
        background-color: transparent
      &:hover
        background-color: $gray-light

.default-list
  width: 100%
  margin: 15px 0
  &:last-child
    margin-top: 0
    margin-bottom: 0
  &.first
    margin-top: 0
    margin-bottom: 0
  h3
    font-size: 0.9em
    font-weight: $text-regular
    color: $gray-dark-v2
    text-transform: uppercase
    margin-bottom: 10px
  li
    display: flex
    font-size: 0.85em
    align-items: center
    color: $gray-dark
    margin-bottom: 3px
    cursor: pointer
    &:last-child
      margin-bottom: 0
    &.active
      color: $orange-default
      font-weight: $text-bold
    &:hover
      span
        text-decoration: underline
    i
      width: 15px
      margin-right: 10px
  &.list-arrow
    li
      i
        width: auto

section.settings-drop-down
  ul
    li
      display: flex
      justify-content: flex-start
      align-items: center
      height: auto
      margin-right: 0
      opacity: 1
      padding: 10px
      font-size: 0.9em
      font-weight: $text-regular
      white-space: nowrap
      cursor: pointer
      &:hover
        background-color: $gray-light
      &.delete
        color: $red

ul.main-items-list
  width: 100%
  margin-bottom: 50px
  li
    width: 100%
    height: 50px
    border-bottom: 1px solid $black-opacity
    display: flex
    align-items: center
    &:last-child
      border-bottom: none
    input[type="checkbox"]
      margin: 0 15px
    i
      margin-right: 15px
    .text
      display: flex
      flex-direction: column
      h3
        color: $blue-v2
        font-size: 1rem
        font-weight: 400
        margin-bottom: 0
        cursor: pointer
        &:hover
          text-decoration: underline
      span
        font-size: 0.7rem
        color: $gray-middle

ul.left-container-navigation-list
  width: 100%
  li
    width: 100%
    height: 40px
    display: flex
    align-items: center
    padding-left: 15px
    border-bottom: 1px solid $black-opacity
    font-size: 0.9em
    color: $orange-default
    cursor: pointer
    transition: 0.2s
    &:hover
      border-left: 3px solid $orange-default
    &:last-child
      border-bottom: none
    &.active
      border-left: 3px solid $orange-default
      color: $gray-dark
      font-weight: bold
  &.mobile-drop-down
    margin-bottom: 5px
    display: none
    &.opened
      display: block
    li
      height: 50px
      color: $gray-dark
      &:hover
        border-left: none
      &.active
        color: $orange-default
        border-left: none

ul.settings-organizations-list
  width: 100%
  margin-bottom: 50px
  li
    width: 100%
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid $black-opacity
    padding: 0 15px
    .title
      display: flex
      align-items: center
      mark
        width: 30px
        height: 30px
        background-color: lightgreen
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        text-align: center
        line-height: 30px
        font-size: 0.9em
        font-weight: 700
        color: #fff
        margin-right: 20px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        cursor: default
      span
        color: $orange-default
        cursor: pointer
        &:hover
          text-decoration: underline
    .button-wrapper
      position: relative
      button
        display: none
        &.visible
          display: block
    &:hover
      background-color: $black-super-opacity
      .button-wrapper
        button
          display: block
    &:last-child
      border-bottom: none
